.gpt3-blog-container-article {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.gpt3-blog-container-article-image {
    width: 100%;
    height: 100%;
    background: var(--color-footer);
}

.gpt3-blog-container-article-image img {
    width: 100%;
    height: 100%;
}

.gpt3-blog-container-article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
}

.gpt3-blog-container-article-content p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 0.728rem;
    line-height: 2.188rem;
    color: #FFFFFF;
}

.gpt3-blog-container-article-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 1.57rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    margin-bottom: 5rem;
    cursor: pointer;
}

.gpt3-blog-container-article-content p:last-child {
    cursor: pointer;
}

@media only screen and (max-width: 550px) {
    .gpt3-blog-container-article-content h3 {
        font-size: 1.125rem;
        line-height: 1.562rem;
    }
}